html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/bg.jpeg');
  background-size: cover;
}

a {
  text-decoration: none;
  color: purple;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
}
